@import url(http://fonts.googleapis.com/css?family=Lato);
body {
  margin: 0;
  padding: 0;
  background-color: #ddd; }

* {
  font-family: Helvetica,sans-serif;
  color: #888;
  box-sizing: border-box; }

canvas#spad {
  background-color: #fff;
  border: 2px solid #888;
  padding: 0;
  border-radius: 10px; }

.contr_canv {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: #fff;
  border-radius: 0 0 20px 0;
  text-align: center;
  z-index: 10;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5); }

.wrapper {
  text-align: center; }

.controls {
  text-align: center;
  margin-top: 60px; }

.contr_col {
  width: 100%;
  background-color: #fff;
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3); }
  .contr_col button.butt_col {
    display: inline-block;
    padding: 0;
    background-color: #F44336;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #aaa;
    outline: none;
    cursor: pointer;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out; }
    .contr_col button.butt_col:hover {
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.6);
      -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.6);
      -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.6);
      -o-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.6);
      -ms-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.6); }
  .contr_col button.saveshit {
    position: absolute;
    right: 30px;
    top: 10px;
    width: 80px;
    height: 30px;
    background-color: #3B50CE;
    border: 2px solid #3B50CE;
    color: #fff;
    outline: none;
    cursor: pointer;
    font-weight: bold; }
    .contr_col button.saveshit:hover {
      background-color: transparent;
      color: #3B50CE; }
  .contr_col .theimage {
    position: absolute;
    background-color: #fff;
    padding: 30px;
    right: 20px;
    top: 70px;
    border: 3px solid #555;
    border-radius: 10px;
    display: none;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3); }
    .contr_col .theimage::after {
      content: " ";
      width: 0;
      height: 0;
      position: absolute;
      bottom: 100%;
      right: 40px;
      border: 10px solid transparent;
      border-bottom-color: #555; }

/*# sourceMappingURL=style.css.map */
